#header { 
    flex-direction: column;
    display: flex;
}

#header aside img, #header main { 
    background-color: #36aa2e;
    margin: 5px;
    padding: 10px;
    float: left;
}

#header aside img{
    flex: 1;
    order: 2;
    width: 140px;
    height: 100px;
}

#header main{
    flex: 3;
    order: 2;
}

#my_menu {
    width: 960px;
    flex-direction: column;
    display: flex;
    background-color: #4bbc6e80;
    margin: 10px;
    padding: 1px;
    margin-left: auto;
    margin-right: auto;
}

#hyper {
    width: 960px;
    flex-direction: column;
    display: flex;
    background-color: #4bbc6e80;
    margin: 10px;
    padding: 1px;
    margin-left: auto;
    margin-right: auto;
}

#table {
    width: 960px;
    margin: 10px;
    padding: 1px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 2px solid black;
    border-collapse: collapse;
}

#forma {
    max-width: 960px;
    background-color: #4bbc6e80;
    margin: 10px;
    padding: 1px;
    margin-left: auto;
    margin-right: auto;
}


#nech {
    border: 1px solid black;
    background-color: #141ad8d1;
}

#ch {
    border: 1px solid black;
    background-color: #01b9ffa8;
}

#footer {
    flex-direction: row;
    display: flex;
    background-color: #36aa2e;
    padding: 10px;
    justify-content: flex-end;
}

@media screen and (min-width: 800px) {
    #header {
      flex-direction: row;
    }

    #my_menu {
        flex-direction: row;
    }

    #table :nth-child(2){
        order: 3;
      }
      
    #forma :nth-child(3){
        order: 2;
      }
  }